@charset 'utf-8';

/* side-text */
.side-text {
  /* background: #f5f; */
  display: block;
  position: absolute;
  top: 28rem;
  right: -5.5rem;
  transform: rotate(90deg);
}

.side-text > p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 5rem;
  visibility: hidden;
}

.side-text p + p {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  visibility: hidden;
}

/* bottom-text */
.bottom-text {
  /* background: #ff5; */
  position: absolute;
  left: 10.3rem;
  bottom: 7.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  row-gap: 1.2rem;
}

.harmony img {
  visibility: hidden;
}

.exp {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2.2rem;
  visibility: hidden;
}

.exp p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.bottom-text strong {
  font-size: 2.6rem;
  font-weight: 400;
}

/* main-visual */
.main-visual .line-right {
  position: absolute;
  right: 0;
  bottom: 31.7rem;
}

.main-visual .line-left {
  position: absolute;
  left: 0;
  bottom: 8rem;
  z-index: 5;
  width: 116.2rem;
  height: 70.3rem;
}

.main-visual .main-circle {
  position: absolute;
  z-index: 3;
  left: 66rem;
  top: 17rem;
  width: 580px;
  height: 580px;
  background: url(../img/main-visual-circle.svg) no-repeat 50% / cover;
}

#lineLeft {
  stroke: color #444;
}

.go-pro-btn a {
  width: 19rem;
  height: 5rem;
  border: 1px solid #000;

  border-radius: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 3.1rem 1rem;
  position: absolute;
  bottom: 4%;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  color: #000;
  visibility: hidden;
  /* animation: shake-horizontal 0.8s 5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    infinite both; */
}

.go-pro-btn a:hover {
  background: var(--main-color);
  border: 1px solid var(--main-color);
  transition: 0.4s;
  color: #fff !important;
  animation: jello-horizontal 1.2s both;
}

/* @-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
} */

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
